
.login{
    margin: 30px auto;
    width:80%;
}
.login input{
    text-indent: 15px;
    border:0;
    background-color: rgba(236, 240, 241,.8);
    color:#333;
    font-size:1.1em;
    width:100%;
    margin: 15px auto;
    padding: 15px 0px;
}

.btn{
    border:0;
    width:80%;
    background-color: rgba(236, 240, 241,.8);
    color:#333;
    margin: 15px auto;
    padding:15px;
    font-size:1.1em;
    transition: all .8s;
    font-weight: bold;
}
.btn:hover{
    background-color: rgba(236, 240, 241,1);
    color:#3498db;
}
.text-center{
    text-align: center;
}